In [1]:
import os
import pandas as pd
import mysql.connector as MySqlDB

In [2]:
# "setar" as variáveis antes de abrir o notebook
# Ex.: set ou export LAUDOS=10.61.1.1 
HOST = os.environ.get('LAUDOS')
USER = os.environ.get('USER_LAUDOS')
PASSWORD = os.environ.get('PASS_LAUDOS')
db = MySqlDB.connect(host=HOST, user=USER, password=PASSWORD)

In [3]:
# Laudos: qtde por país
sql = \
'''SELECT d.*, e.Parecer FROM LAUDOS.divergencias d
INNER JOIN LAUDOS.enumerado e ON d.parecer = e.ID
WHERE username="LAB"'''
df_sql = pd.read_sql(sql, db)

In [4]:
df_sql.head()

,id,dataregistro,username,data,divergente,palavraschave,itemsatid,resumolaudoid,conclusao,parecer,Parecer
0,900,2018-10-17 17:41:35,LAB,2018-10-17 17:41:34,0,NEOPRENE GRT M2,None,884,"Trata-se de Policlorobutadieno, contendo resin...",1,Concordante
1,904,2018-10-17 17:41:54,LAB,2018-10-17 17:41:53,0,PIGMENTOS NA FORMA DE PÓ,None,799,"Trata-se de Pigmento Verde 7, na forma de pó.",1,Concordante
2,909,2018-10-17 17:42:16,LAB,2018-10-17 17:42:14,0,"NAFTA, A GRANEL",None,862,Trata-se de Mistura de Hidrocarbonetos Alifáti...,1,Concordante
3,910,2018-10-17 17:42:20,LAB,2018-10-17 17:42:19,0,ACIDO FLUOZIRCONICO,None,931,"Trata-se de Ácido Fluorzircônico, na forma líq...",1,Concordante
4,913,2018-10-17 17:42:32,LAB,2018-10-17 17:42:32,0,ÓLEO DIESEL S10 TIPO A,None,906,Trata-se de Mistura de Hidrocarbonetos Alifáti...,1,Concordante

In [5]:
df_sql.describe()

                id  divergente  resumolaudoid     parecer
count   932.000000  932.000000     932.000000  932.000000
mean   1365.500000    0.252146     897.870172    2.020386
std     269.189524    0.434478     519.928341    1.118448
min     900.000000    0.000000       8.000000    1.000000
25%    1132.750000    0.000000     570.000000    1.000000
50%    1365.500000    0.000000     882.000000    2.000000
75%    1598.250000    1.000000    1244.000000    3.000000
max    1831.000000    1.000000    2401.000000    4.000000

In [6]:
df_sql['Parecer'].value_counts()

Concordante              456
Inédita - Concordante    241
Discordante              118
Inédita - Discordante    117
Name: Parecer, dtype: int64

In [7]:
df = pd.read_excel('relatorio 2017.xls', header=2)

In [8]:
df.head()

,Adição,Identificação da Amostra,ID Controle (Documento),N° Relatório,Parecer da Amostra,Situação,Data Situação,Data Coleta,Data Recebimento,Data Publicação,...,Motivo da Amostra,Pedido de Exame,Importador/Exportador,Fabricante,Procedência,Repartição,Capítulo Declarado,Complemento,Observação de Conclusão,Erro
0,1,D14697978 COPOLIMERO DE ETILENO E ACETATO DE V...,DI 17/1164288-8,496/2017,Inédita - Concordante,Publicada,31/07/2017 16:18:42,24/07/2017,24/07/2017 17:12:11,31/07/2017 16:18:42,...,Rotina,1726/EQCOF,CNPJ 61064929005308,E.I Du Pont de Nemours,Embraport,ALF - Santos,39,39013090,Trata-se de Copolímero de Etileno e Acetato de...,OK
1,1,NEOPRENE GRT M2,DI 17/1104377-1,521/2017,Concordante,Publicada,23/08/2017 11:57:24,27/07/2017,27/07/2017 12:26:13,23/08/2017 11:57:24,...,Rotina,1738/EQCOF,CNPJ 11385941000107,Denka,Libra,ALF - Santos,40,40024900,"Trata-se de Policlorobutadieno, contendo resin...",OK
2,1,HOMBITAM LWSU-100,DI 17/1134238-8,501/2017,Discordante,Publicada,03/08/2017 14:46:22,26/07/2017,26/07/2017 17:41:22,03/08/2017 14:46:22,...,Rotina,1750/EQCOF,CNPJ 15179682002243,Sachtleben,Santos Brasil,ALF - Santos,28,28230010,Trata-se de Pigmento à base de Dióxido de Titâ...,OK
3,1,973080 - PHENYLHEXANOL,DI 17/1172179-6,492/2017,Inédita - Concordante,Publicada,31/07/2017 14:44:38,26/07/2017,26/07/2017 12:30:27,31/07/2017 14:44:38,...,Rotina,1748/EQCOF,CNPJ 61360574000165,Não Consta,Libra,ALF - Santos,29,29062990,"Trata-se de 3-Metil-5-Fenilpentanol, na forma ...",OK
4,1,POLIAMIDA 6 AKULON K222-D/NA 99001/7 1104 NATU...,DI 17/1132139-9,714/2017,Inédita - Concordante,Publicada,21/11/2017 09:39:52,25/07/2017,25/07/2017 16:37:59,21/11/2017 09:39:52,...,Rotina,1739/EQCOF,CNPJ 05008118000180,DSM Enginnerring Plastics,Ecoporto,ALF - Santos,39,39081024,"Trata-se de Poliamida-6, sem carga, na forma ...",OK

In [9]:
df.describe()

            Adição  Capítulo Declarado
count  1205.000000         1205.000000
mean      2.685477           32.835685
std       3.642427           11.036163
min       1.000000            4.000000
25%       1.000000           28.000000
50%       1.000000           29.000000
75%       3.000000           38.000000
max      28.000000           94.000000

In [10]:
df['Parecer da Amostra'].value_counts()

Concordante              577
Inédita - Concordante    287
Inédita - Discordante    181
Discordante              159
---                        1
Name: Parecer da Amostra, dtype: int64

In [16]:
# Laudos: qtde por país
sql = \
'''SELECT * FROM LAUDOS.quesitos
'''
dfq = pd.read_sql(sql, db)

In [17]:
dfq.head()

,id,dataregistro,username,texto,operador,ordempreferencial
0,5,2016-06-30,25052288840,1) A mercadoria está de acordo com o descrito ...,None,None
1,6,2016-06-30,25052288840,2) Apresenta adição de açucar?,None,None
2,7,2016-06-30,25052288840,3) uso?,None,None
3,8,2016-06-30,25052288840,1) A mercadoria está de acordo com o descrito ...,None,None
4,9,2016-06-30,25052288840,2) Uso?,None,None

In [18]:
# Laudos: qtde por país
sql = \
'''SELECT * FROM LAUDOS.quesitoitemsat
'''
dfqi = pd.read_sql(sql, db)

In [19]:
dfqi.head()

   itemsat  quesito ordem
0     9086      216  None
1     9086      217  None
2     9086      218  None
3     9086      219  None
4     9090      402  None

In [61]:
def get_ordem_from_texto(texto: str)-> [int, str]:
    separators = '.)-'
    for separator in separators:
        index = texto[:4].find(separator)
        if index >=0:
            break
    if index >= 0:
        offset = index
    else:
        offset = 2
    num = texto[:offset]
    desc = texto[offset + 1:].strip()
    try:
        num = int(num)
    except ValueError:
        num = 0
    return num, desc

In [62]:
for index, linha in dfq.iterrows():
    texto = linha['texto']
    num, desc = get_ordem_from_texto(texto)
    # if num != 0:
    #    print('UPDATE LAUDOS.quesitos SET ordempreferencial=%s, texto="%s" WHERE ID=%s' % (num, desc, index))

In [64]:
print(get_ordem_from_texto('01. Teste'))
print(get_ordem_from_texto('2) Teste'))
print(get_ordem_from_texto('3- Teste'))
print(get_ordem_from_texto(' Teste'))

(1, 'Teste')
(2, 'Teste')
(3, 'Teste')
(0, 'ste')